<div class="header">
   <ul class="list">
      <li><a href="#" routerLink="/header/home" routerLinkActive="active">Home</a></li>
      <li><a href="#" routerLink="/header/about"  routerLinkActive="active">About Us</a></li>
      <li><a href="#" routerLink="/header/contact"  routerLinkActive="active">Contact Us</a></li>
      <li><a href="#" routerLink="/header/career"  routerLinkActive="active">Careers</a></li>
      <li><a href="#" routerLink="/header/account"  routerLinkActive="active">Account</a></li>
   </ul>
</div>
<router-outlet></router-outlet>
