<div class="header">
   <ul class="list">
      <li><a href="#" class="sdf" routerLink="/header/home" routerLinkActive="active">Home</a></li>
      <li><a href="#" class="sdf" routerLink="/header/about"  routerLinkActive="active">About Us</a></li>
      <li><a href="#" class="sdf" routerLink="/header/contact"  routerLinkActive="active">Contact Us</a></li>
      <li><a href="#" class="sdf" routerLink="/header/career"  routerLinkActive="active">Careers</a></li>
      <li><button class="btn btn-primary" (click)="openDialog()">open</button></li>
      <li>
         <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
              Account
            </button>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#" routerLink="/header/account/signin">SignIn</a></li>
              <li><a class="dropdown-item" href="#" routerLink="/header/account/signup">SignUp</a></li>
            </ul>
          </div>
      </li>
   </ul>
</div>
<router-outlet></router-outlet>
