.mobiles-main{
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.product{
    width: 100%;
    padding: 5px;
}
img{
    width: 110px;
    height: 248px;
}
.current-price{
    font-size: 20px;
    color: black;
    margin-right: 7px;
}
.original-price{
    font-size: 15px;
    font-weight: lighter;
    margin-right: 7px;
}
.off{
    color: green;
    font-weight: bold;
    font-size: 15px;
}
.free{
    color: green;
    font-weight: bold;
}
.pad{
    padding: 5px !important;
    box-shadow: 5px 5px 5px grey;
    border-radius: 10px;
}
mat-form-field{
    width: 100% !important;
}
.filter{
    margin-left: 10px;
    color: orangered;
    font-family: MS Gothic;
}
mat-option{
    text-transform: capitalize;
}
::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background, .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background, .mat-accent .mat-pseudo-checkbox-checked, .mat-accent .mat-pseudo-checkbox-indeterminate, .mat-pseudo-checkbox-checked, .mat-pseudo-checkbox-indeterminate {
    background-color: red !important; /* Red background for example */
}
