<div class="myCart">
  <div class="row">
    <div class="col-md-6">
      <ng-container *ngIf="myProducts.length !== 0">
        <div class="product" *ngFor="let product of myProducts;let i = index;">
          <div class="row">
            <div class="col-md-3">
              <img src="{{ product.image }}" />
            </div>
            <div class="col-md-8">
              <p style="text-transform: capitalize">
                {{ product.brand }} {{ product.model }}({{ product.ram }}GB,{{
                  product.rom
                }}GB)
              </p>
              <p>
                {{ product.noOfRatings }} Ratings &
                {{ product.noOfReviews }} reviews
              </p>
              <p>
                <span>₹{{ product.currentPrice }}</span
                ><span style="margin-right: 15px; margin-left: 15px"
                  >₹{{ product.originalPrice }}</span
                ><span>{{ product.discountInPercentage }}% off</span
                ><select [(ngModel)]="quantity[i]" (change)="onChange()">
                  <option value="1">One</option>
                  <option value="2">Two</option>
                  <option value="3">Three</option>
                </select>
              </p>
            </div>
            <div class="col-md-1">
              <p>
                <svg (click)="deleteFromCart(product.id)"
                  xmlns="http://www.w3.org/2000/svg"
                  width="25"
                  height="25"
                  fill="currentColor"
                  class="bi bi-trash-fill"
                  viewBox="0 0 16 16"
                >
                  <path
                    d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z"
                  />
                </svg>
              </p>
              <p>
                <svg (click)="moveToWishlist(product)"
                  xmlns="http://www.w3.org/2000/svg"
                  width="25"
                  height="25"
                  fill="currentColor"
                  class="bi bi-heart-fill"
                  viewBox="0 0 16 16"
                >
                  <path
                    fill-rule="evenodd"
                    d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"
                  />
                </svg>
              </p>
              <p
                *ngIf="product.deliveryCharges !== 0"
                style="color: green; font-weight: bold"
              >
                ₹{{ product.deliveryCharges }}
              </p>
              <p
                *ngIf="product.deliveryCharges === 0"
                style="color: green; font-weight: bold"
              >
                Free
              </p>
            </div>
          </div>
        </div>
      </ng-container>
      <div *ngIf="myProducts.length === 0">
        <img id="emptycart" src="https://chillydraji.files.wordpress.com/2015/08/empty_cart.jpeg">
        <button (click)="goToHome()"
          class="submit"
          style="
            color: white;
            background-color: orangered;
            float: right;
          "
        >
          Continue Shopping
        </button>
      </div>
    </div>
    <div class="col-md-6">
      <div class="pricing">
        <h4>PRICING DETAILS</h4>
        <hr />
        <p>
          Price ({{ myProducts.length }} Items)
          <span style="float: right">₹{{ totalOriginalPrice }}</span>
        </p>
        <p>
          Discount
          <span style="float: right; color: green">-₹{{ totalDis }}</span>
        </p>
        <p>
          Delivery Charges<span
            *ngIf="totalDeliveryCharges !== 0"
            style="float: right"
            >₹{{ totalDeliveryCharges }}</span
          ><span
            *ngIf="totalDeliveryCharges === 0"
            style="float: right; font-weight: bold; color: green"
            >Free</span
          >
        </p>
        <hr />
        <h5>
          Total Price <span style="float: right">₹{{ finalPrice }}</span>
        </h5>
        <hr />
        <p style="color: green;font-weight: bold;">You will save ₹{{totalDis}} on this order</p>
      </div>
      <div style="margin-top: 10px">
        <button
          class="submit"
          style="
            color: white;
            background-color: orangered;
            float: right;
            font-size: 35px;
          "
        >
          Place Order
        </button>
      </div>
    </div>
  </div>
</div>
