<div class="signup">
  <h1 mat-dialog-title class="title">User SignUp Form</h1>
  <mat-dialog-content class="mat-typography">
    <form>
      <div class="signup-main">
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label>First Name</label>
              <input type="text" class="form-control">
            </div>
            <div class="form-group">
              <label>Mobile Number</label>
              <input type="tel" class="form-control">
            </div>
            <div class="form-group">
              <label>Date Of Birth</label>
              <input type="date" class="form-control">
            </div>
            <div class="form-group">
              <label>Password</label>
              <input type="password" class="form-control">
            </div>
            <div class="form-group" style="margin-top: 8px;">
              <input type="checkbox">
              <span style="color : white">agree terms & contions</span>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label>Last Name</label>
              <input type="text" class="form-control">
            </div>
            <div class="form-group">
              <label>Email Id</label>
              <input type="email" class="form-control">
            </div>
            <div class="form-group">
              <label>Gender</label>
              <select class="form-control">
                <option value="male">Male</option>
                <option value="female">Female</option>
                <option value="others">Others</option>
              </select>
            </div>
            <div class="form-group">
              <label>Confirm Password</label>
              <input type="text" class="form-control">
            </div>
          </div>
        </div>
      </div>
      <div style="margin-top: 8px;">
        <span style="float: left;color: white;">Do you have account already ? <a href="#">SignIn here</a></span>
        <button [mat-dialog-close]="true" class="submit" style="margin-left: 10px;float: right;padding-top: 8px;padding-bottom: 8px;">Sign Up</button>
        <button class="cancel" mat-dialog-close style="float : right;padding-top: 8px;padding-bottom: 8px;">Cancel</button>
      </div>

    </form>
  </mat-dialog-content>
</div>