/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: MS Gothic }


.submit{
    background-color: white;
    color: orangered;
    border: solid 2px orangered;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 3px;
}
.submit:hover{
    background-color: orangered;
    color: white;
    border: solid 2px orangered;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 3px;
}
.cancel{
    background-color: white;
    color: black;
    border: solid 2px black;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 3px;
}
.cancel:hover{
    background-color: black;
    color: white;
    border: solid 2px black;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 3px;
}